/*Subtitles*/
div[data-testid="stMetric"] [data-testid="stMetricLabel"] {
  font-size: 25px !important;
  font-weight: 600 !important;
}

div[data-testid="stMetric"] [data-testid="stMetricLabel"] * {
  font-size:25px !important;
}

div[data-testid="stMetric"] [data-testid="stMetricValue"] {
  font-size: 40px !important;
  font-weight: 700 !important;
}

/* Filter Labels*/
div[data-testid="stSlider"] label p,
div[data-testid="stSelectbox"] label p,
div[data-testid="stMultiSelect"] label p,
div[data-testid="stCheckbox"] label p,
div[data-testid="stRadio"] label p {
  font-size: 22px !important;
  font-weight: 600 !important;
  color: #000000 !important;
}

/*Captions and descriptions*/
div[data-testid="stCaptionContainer"] p {
  font-size: 22px !important;
  font-style: italic !important;
  color: #333333 !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  text-align: center !important;
}